@model IEnumerable<ATodoRuedas.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>FACTURAS</h1>




<p>
    <a asp-action="Create">Generar Factura</a>
</p>

      


<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.importe)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
       

        @foreach (var item in Model)
            
            
        {


            <tr>
                <td>


                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.tipoFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.importe)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.idFactura">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.idFactura">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.idFactura">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
